<!doctype html>
<html>

  <head>  
    <title>Viagem</title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lobster" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/public/css/header_pages.css"/>
<!--    <link rel="stylesheet" type="text/css" href="/css/place.css"/>-->
  </head>

  <body>
  
    <header>
      
      <a href="./home">
        <div class="logo">
          <img src="/img/icons/airplane.png" />
          Viagem
        </div>
      </a>
      
      <ul class="nav">
        <a href="./explore">
          <li>
            <img src="/img/icons/explore.png" />
            Explore
          </li>
        </a>

        <a href="./add">
          <li>
            <img src="/img/icons/form.png" />
            Suggest
          </li>
        </a>
      </ul>
    
    </header>
    
    {{{body}}}
    
  </body>
</html>