<!doctype html>
<html>

  <head>  
    <title>Viagem</title>
  </head>

  <body>
    <!--
    <header>
      <img src="/img/logo.png" alt="Viagem Logo">
    <ul>
      <li>Explore</li>
      <li>Suggest</li>
    </ul>
    </header>
    -->
    {{{body}}}
  </body>
</html>