<!doctype html>
<html>

  <head>  
    <meta charset="utf-8">
    <title>Viagem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lobster" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/place.css"/>
  </head>

  <body>
  
    <header>
      
      <a href="">
        <div class="logo">
          <img src="/img/icons/airplane.png" />
          Viagem
        </div>
      </a>
      
      <ul class="nav">
        <a href="">
          <li>
            <img src="/img/icons/explore.png" />
            Explore
          </li>
        </a>

        <a href="">
          <li>
            <img src="/img/icons/form.png" />
            Suggest
          </li>
        </a>
      </ul>
    
    </header>
    
    {{{body}}}
    
  </body>
</html>