<!doctype html>
<html>

  <head> 
    <title>Viagem</title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lobster" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/public/css/plain_pages.css"/>
  </head>
  
  <body>
    {{{body}}}
  </body>

</html>
