<aside>
  <h2>Filter by Type</h2>
  <ul class="sort">
    <li>
      <img class="icon" src="/img/icons/sight.png" />
      <p>Sights &amp; Landmarks</p>
    </li>
    <li>
      <img class="icon" src="/img/icons/park.png" />
      <p>Parks</p>
    </li>
    <li>
      <img class="icon" src="/img/icons/museum.png" />
      <p>Museum</p>
    </li>
    <li>
      <img class="icon" src="/img/icons/food.png" />
      <p>Food &amp; Drink</p>
    </li>
    <li>
      <img class="icon" src="/img/icons/show.png" />
      <p>Concerts &amp; Shows</p>
    </li>
  </ul>
</aside>

<div class="search_bar">
  <h3>Continent:</h3>
  <div class="input"></div>
  <h3>Country:</h3>
  <div class="input"></div>
  <h3>City:</h3>
  <div class="input"></div>
  <h3>Search:</h3>
  <div class="search2"></div>
<!--  <div class="go">Go</div>-->
</div>


<div class="container">
  {{#each places}}
  
    {{> place }}

  {{/each}}
</div>
