<h1 class="welcome">Welcome to Viagem!</h1>

<div class="home">
    <div class="button">
      <a href="/explore">
        <img src="img/icons/explore.png" alt="explore icon"/>
        <p>Explore</p>
      </a>
    </div>

    <div class="button">
      <a href="/add">
        <img src="img/icons/form.png" alt="form icon"/>
        <p>Suggest</p>
      </a>
    </div>
</div>
