<h1 class="welcome">Welcome to Viagem!</h1>

<div class="home">
    <div class="button">
      <a href="pages/search.html">
        <img src="/img/icons/explore.png" alt="explore icon"/>
        <p>Explore</p>
      </a>
    </div>

    <div class="button">
      <a href="pages/suggest.html">
        <img src="/img/icons/form.png" alt="form icon"/>
        <p>Suggest</p>
      </a>
    </div>
</div>
