<div class="submitted">
  <h1>Thank you for submitting!</h1>
  <p>
    <a class="explore" href="/explore">Explore places</a><a class="suggest" href="/suggest">Submit a new sugggestion</a>
  </p>
</div>