div.place_result{
  background-color: #e5eaef;
  display: inline-block;
  width:45%;
  height: 250px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
}

img.result{
  width:215px; height: 215px;
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}

img.cat{
  width:40px; height: 40px;
  float: right;
}

div.place_result h3, div.place_result h5, div.place_result p, ul.sort li{
  font-family: 'Droid Sans', Verdana, sans-serif;
}

div.place_result h3{
  margin-top: 16px;
  margin-bottom: 5px;
}

div.place_result h5{
  margin: 5px 0px;
}